body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #fffdd0;
}

/* Navigation Bar */

.site-header {
    padding: 1rem 2rem;
    background: #e1b12c; /* golden heritage*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.title {
    text-decoration: none;
    display: flex;
    color: #3d2500;
}

.logo img  {
    height: 55px;
    width: auto;
}


.nav-links {
    display: flex;
    gap: 20px;
    color: emerald;
}
.nav-links a {
    text-decoration: none;
    color: emerald;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #fafafa;
}


/* Responsive tweaks */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

body {
    height: 100%
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.site-footer {
    text-align: center;
    background: #e1b12c; /* golden heritage*/
    color: #FBE9DC;
    padding: 1rem;
    margin-top: 4rem;
    justify-content: space-between;
}

.footer-links a:hover {
   color: emerald;
}

.flash-container {
    margin: 10px auto;
    width: 90%;
}

.flash {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.flash-success { background: #d4edda; }
.flash-error { background: #f8d7da; }




/* HOME PAGE */
.home-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 60px;
}

.welcome-text {
    flex: 1;
}

.welcome-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.discover-btn {
    padding: 15px 30px;
    background-color: #C1272D;
    color: #F5F5DC;
    text-decoration: none;
    border-radius: 80px;
    font-weight: bold;
    white-space: nowrap;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
}

.discover-btn:hover {
    background-color: #A01F24;
    transform: translateY(-2px);
}

/* Welcome Image */
.welcome-image img {
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* Discover Countries Section */
.discover-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.discover-section {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.countries-preview {
    display: flex;
    gap: 35px;
    justify-content: center;
    flex-wrap: wrap;
}

.countries-preview .country-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    color: #white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.countries-preview .country-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.countries-preview .country-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.countries-preview .country-name {
    text-align: center;
    font-weight: bold;
}





/* COUNTRIES PAGE */

.container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #3d2500;
}

/* vertical list container */
.countries-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Individual card */
.country-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding: 30px 20px;
    text-decoration: none;
    color: #fffdd0;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;  /* full width of container */
}
.nigeria-card {
    background-color: #008751;
}
.ghana-card {
    background-color: #FFD700;
}
.senegal-card {
    background-color: #006233;
}
.kenya-card {
    background-color: #FF4B3E;
}
.ethiopia-card {
    background-color: #0D662E;
}
.morocco-card {
    background-color: #C1272D;
}
.egypt-card {
    background-color: #F7941D;
}
.south_africa-card {
    background-color: #007749;
}
.cameroon-card {
    background-color: #007A5E;
}
.zimbabwe-card {
    background-color: #007236;
}


.country-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.country-name {
    text-align: center;
}











/* Toggleable Sections */
.hidden {
  display: none;
}

.toggle-section {
  background-color: #D95D39;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* Scroll to top button */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: #7C1C26;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1000;
}