<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h1>Countries</h1>
        <div class="countries-list">
            {% for country in countries %}
            <a href="{{ url_for('country_page', country=country.name) }}" class="country-card {{ country.name }}-card"> <div class="country-name">{{ country.name.title() }}</div> </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}

<script src="static/js/app.js"></script>

</body>
</html>